.fade-appear,
.fade-enter {
  opacity: 0;
  transform: translateY(10px);
}
.fade-appear-active,
.fade-enter-active {
  transition: 0.3s ease-in;
  transform: translateY(0px);
  opacity: 1;
}

.fade-exit {
  transition: 0.3s ease-out;
  transform: translateY(0px);
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(10px);
}